[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"psycopg2" = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"

[dev-packages]
astroid = "*"
pylint = "*"
nose = "*"
flask-testing = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
